body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
    /* Ejemplo de transición */
}

.mg-10 * {
    margin: 10px;
    /* Ejemplo de separación entre elementos */
}

.container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Cambio de sombra al pasar el mouse */
}

.start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}